.commentWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-items: center;
}

.commentAuthor{
  color: rgb(0, 0, 117);
  font-weight: bold;
  font-size: 25px;
}

.commentDate{
  font-size: 10px;
}

.wrapper{
  display: flex;
  gap: 10px;
}

.createdAt{
  font-size: 12px;
}