.wrapper{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.linkWrapper{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.commentWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}