.blog{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 30px;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  background-color: rgb(228, 228, 228);
  width: 100%;
  flex-wrap: wrap;
}

.title{
  font-size: 40px;
  color: rgb(0, 0, 117);
  font-weight: bold;
  align-self: center;
}

.oneBlog{
  text-decoration: none;
}

.wrapper{
  display: flex;
  gap: 20px; 
}

.imageWrapper{
  display: flex;
  gap: 20px;
}

.textWrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.tag{
  display: flex;
  color: rgb(0, 0, 117);
  background-color: aqua;
  padding: 5px 10px;
  border-radius: 10px;
  align-self: flex-start;
}

.paragraph{
  color: rgb(0, 0, 117)
}

.seperator{
  border: 1px solid black;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
}

