.nav{
  background-color: rgb(0, 0, 117);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
}

.link{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.text{
  color: white;
}

.linkWrapper{
  display: flex;
  gap: 15px;
  align-items: center;
}

.buttonWrapper{
  display: flex;
  gap: 15px;
  align-items: center;
}